@import url('https://fonts.googleapis.com/css?family=Roboto');

/* GLOBAL STYLES */

$primary-color:  #F7CE5B;
$dark-color: #222;
$light-color: #f4f4f4;


* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  color: $dark-color;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.m-2 {
  margin: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}